<form action="https://pagseguro.uol.com.br/security/webpagamentos/webpagto.aspx" method="POST">
    {% for k,v in config.items %}
        <input type="hidden" name="{{ k }}" value="{{ v }}" />
    {% endfor %}
    {% for k,v in cliente.items %}
        <input type="hidden" name="cliente_{{ k }}" value="{{ v }}" />
    {% endfor %}
    {% for item in itens %}
        <input type="hidden" name="item_id_{{ forloop.counter }}" value="{{ item.cod }}" />
        <input type="hidden" name="item_descr_{{ forloop.counter }}" value="{{ item.descr }}" />
        <input type="hidden" name="item_quant_{{ forloop.counter }}" value="{{ item.quant }}" />
        <input type="hidden" name="item_valor_{{ forloop.counter }}" value="{{ item.valor }}" />
        {% if item.frete %}
            <input type="hidden" name="item_frete_{{ forloop.counter }}" value="{{ item.frete }}" />
        {% endif %}
        {% if item.peso %}
            <input type="hidden" name="item_peso_{{ forloop.counter }}" value="{{ item.peso }}" />
        {% endif %}
    {% endfor %}
    <input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/94x52-comprar-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
</form>
